.pytest_cache/
/fixtures/__pycache__
/config/__pycache__
/trend_app/management/commands/__pycache__
/env
/wenv
/exports
/trends/__pycache__
/trend_app/__pycache__
/trend_app/api/__pycache__
/trend_app/tests/__pycache__
/trend_app/migrations/__pycache__
/user/__pycache__
/user/api/__pycache__
/user/tests/__pycache__
/user/migrations/__pycache__
db.sqlite3
*.csv
scripts
db_backup
/config